<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rally-protractor-service" type="RallyProtractorInegration.RallyProtractorConfigSection, RallyProtractorInegration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <rally-protractor-service>
    <workitems>
      <workitem user-name="abhishek.karna@tavant.com" password="Home@123" server="https://rally1.rallydev.com" project-name ="Genie"
       rally-project-code="40404415072" rally-project-workspace="40404414987" rally-file-path="D:\TestJob\Rally.xml" rally-page-size="5000"
       is-rally-refresh="false" protractor-file-path="D:\TestJob\Junit.xml" reportPath="D:\TestJob\Report.xlsx">
      </workitem>
    </workitems>
  </rally-protractor-service>
</configuration>